<template>
  <q-page padding>
    <div id="bg"></div>

      <div class="row main-content text-center justify-center">
        <div class="col-xs-12 col-md-5">
          <q-card class="my-card">
            <q-card-section>
              <ul>
                <li>
                  <q-icon name="check_circle_outline" class="text-blue" size="sm"></q-icon>
                  <strong>آیا لوازم خانگی شما نیاز به تعمیر دارد؟</strong>
                </li>
                <li>
                  <q-icon name="check_circle_outline" class="text-blue" size="sm"></q-icon>
                  <strong>آیا دنبال تعمیرکار خوب میگردید؟</strong>
                </li>
                <li>
                  <q-icon name="check_circle_outline" class="text-blue" size="sm"></q-icon>
                  <strong>آیا می خواهید لوازم خانگیتان را در منزل تعمیر کنید؟</strong>
              </li>
              </ul>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-xs-12 col-md-7">
            <div class="caption-head">
              <h1 class="home-headline">{{ siteName }}</h1>
              <p class="text">مرکز تخصصی تعمیرات لوازم خانگی</p>
              <q-btn class="btn" label="درخواست تعمیر" />
              <q-btn class="btn" outline style="color: #f1c40f;" label="تماس با ما" />
          </div>
        </div>
      </div>

      <div class="container-md section services-section">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="services-part">
              <div class="title-sec">
                <span></span>
                <h4 class="x-large">خدمات سرویس سایت</h4>
                <span></span>
               </div>
                <p class="lead">کدامیک از لوازم خانگیتان نیاز به نصب، سرویس و یا تعمیرات دارد؟</p>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-last">
              <div class="row">
                <div class="col-6" v-for="(list, index) in listServices" :key="index">
                  <div class="services">
                    <a href="#" class="box-service">
                      <img style="height: 50px; width: 50px" :src="list.icon" />
                      <span></span>
                      <b>{{ list.title }}</b>
                    </a>
                  </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 gt-sm">
            </div>
        </div>
      </div>

      <div class="section section-b Property-section">
          <div class="row my-3">
            <div class="col-xs-12 col-md-12">
                <div class="property-part">
                <div class="title-sec">
                    <span></span>
                    <h4 class="x-large">چرا سرویس سایت؟</h4>
                    <span></span>
                </div>
                    <!-- <p class="lead">کدامیک از لوازم خانگیتان نیاز به نصب، سرویس و یا تعمیرات دارد؟</p> -->
                </div>
             </div>
          </div>
          <div class="row mb-5">
            <div class="col-xs-12 col-sm-6 col-md-3 property-card" v-for="(item, index) in propertyList" :key="index">
                <div class="container-card">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                                <h3>{{ item.title }}</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p class="text-justify">{{ item.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>

        <div class="section container-md level-section mb-5">
            <div class="row my-5">
            <div class="col-xs-12 col-md-12">
                <div class="level-part">
                <div class="title-sec">
                    <span></span>
                    <h4 class="x-large">مراحل انجام کار</h4>
                    <span></span>
                </div>
                    <p class="lead">لطفاً طبق مراحل زیر درخواست خود را ثبت نمایید.</p>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3" v-for="(item, index) in levelList" :key="index">
                    <div class="levelCard">
                        <div class="cardImage">
                            <img :src="item.icon" alt="">
                        </div>
                        <div class="card-text">
                            <h5 class="mb-1">{{ item.title }}</h5>
                            <p>{{ item.text }}</p>
                        </div>
                    <img :src="src" alt="">

                    </div>
                </div>

            </div>
        </div>

      <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
        <q-btn fab icon="keyboard_arrow_up" color="accent" />
      </q-page-scroller>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      siteName: 'سرویس سایت',
      src: require('../assets/image/icon/left-arrow.png'),
      listServices: [
        { title: 'آبگرمکن', link: '#', icon: require('../assets/image/icon/water-heater.png') },
        { title: 'ماشین لباسشویی', link: '#', icon: require('../assets/image/icon/washer.png') },
        { title: 'ماشین ظرفشویی', link: '#', icon: require('../assets/image/icon/dishwasher.png') },
        { title: 'یخچال', link: '#', icon: require('../assets/image/icon/smart-refrigerator.png') },
        { title: 'پکیج دیواری', link: '#', icon: require('../assets/image/icon/water-heater.png') },
        { title: 'کولر گازی', link: '#', icon: require('../assets/image/icon/air-conditioner.png') },
        { title: 'تلویزیون', link: '#', icon: require('../assets/image/icon/monitor.png') },
        { title: 'جارو برقی', link: '#', icon: require('../assets/image/icon/vacuum.png') }

      ],
      propertyList: [
        { title: 'متخصصان با تجربه', text: 'تکنسین های این مجموعه دارای میانگین ۱۱ سال تجربه کار عملی در حوزه تعمیرات می باشند و هر ساله با گذراندن دوره های عملی و آشنایی با جدیدترین مدل های لوازم خانگی ، مناسبترین فرد جهت تعمیر لوازم خانگی شما می باشند.', icon: '' },
        { title: 'گارانتی خدمات', text: 'سرویس سایت بر خلاف دیگر شرکت ها که نقش واسطه ای میان مشتری و تکنسین داشته و هیچگونه تعهدی نسبت به خدمات ارائه شده توسط تکنسین ندارند، مسئولیت تمامی خدمات و تعمیرات ارائه شده را با گارانتی ۱۸۰ روز به عهده میگیرد.', icon: '' },
        { title: 'سرعت در ارائه خدمات', text: 'با توجه به اینکه تکنسین های سرویس سایت در سراسر شهر و در نزدیکی محل کار یا زندگی شما حضور دارند امکان ارائه خدمات به شما در همان روز فراهم شده است.', icon: '' },
        { title: 'هزینه های منصفانه', text: 'تمامی هزینه های دریافتی از شما منصفانه و تحت نظارت این مجموعه می باشد. حدود قیمت نیز پیش از انجام کار به شما اعلام شده و تمامی هزینه ها، پس از پایان کار از شما دریافت خواهد شد.', icon: '' }
      ],
      levelList: [
        { title: 'مرحله اول', text: 'درخواست نصب، سرویس و یا تعمیرات خود را به صورت آنلاین و یا تلفنی ثبت کنید.', icon: require('../assets/image/icon/1.png') },
        { title: 'مرحله دوم', text: 'کارشناسان ما با در نظر گرفتن نوع دستگاه، برند، مشکل دستگاه و لوکیشن، درخواست شما را به بهترین تکنسین واجد شرایط تخصیص می دهند.', icon: require('../assets/image/icon/2.png') },
        { title: 'مرحله سوم', text: 'تکنسین جهت هماهنگی با شما تماس خواهد گرفت تا در زمان مورد نظر شما به محل مراجعه کند.', icon: require('../assets/image/icon/3.png') },
        { title: 'مرحله چهارم', text: 'بعد از انجام کار و دریافت گارانتی کتبی، میتوانید هزینه را به تکنسین و یا به صورت آنلاین پرداخت نمایید.', icon: require('../assets/image/icon/4.png') }
      ]
    }
  }
}
</script>
<style lang="scss">
@import url('../css/main.scss');
</style>
