<template>
<div>
  <h1>sssss</h1>
</div>
</template>

<script>
export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    },

    arrow: {
      type: String,
      default: ''
    },

    styleObject: {
      type: String,
      default: ''
    }
  }
}
</script>
