// Media Queries<------------------------------------------------------------>

// xl
@media (max-width: 2000px ){

}


// lg
@media (max-width: 1919px ){

}


// md
@media (max-width: 1439px ){
    .main-content{

        .my-card{
            max-width: 450px !important;
            margin: 0 auto !important;
            left: 0 !important;
        }
    }
}


// sm
@media (max-width: 1023px ){
    #bg{
        clip-path: polygon(100% 0, 100% 42%, 82% 100%, 0 100%, 0 0);    
    }
    #header{
        margin-left: 20px !important;
    }
    .main-content{

        .caption-head{
            padding: 5px !important;
            margin-bottom: 100px !important;
            margin-top: 0 !important;

            .home-headline{
                font-size: 60px;
            }
        }
    }
    .property-card{
        margin-bottom: 45px !important;

    }
}


// xs
@media (max-width: 559px ){
    #bg{
        clip-path: polygon(100% 0, 100% 82%, 52% 100%, 0 100%, 0 0); 
        z-index: -1;
    }
    #header{
        background: white !important;
        margin: 0 !important;
        z-index: 1;
        #navbar{

            .logo-menu{
                justify-content: flex-start !important;
            }
        }
    }
    .main-content{

        .my-card{
            min-width: 100px !important;
            z-index: 0;
            border-radius: $borderRadius;
        }
        .caption-head{
            padding: 5px !important;
            margin-bottom: 200px !important;
            margin-top: 0 !important;
            .home-headline{
                font-size: 40px;
                margin-bottom: 0 !important;
            }
            .text{
                font-size: 14px;
            }
            .btn{
               display: block; 
               margin: 10px auto !important;
               width: 80%;
               border-radius: $borderRadius !important;
            }
        }
    }
    .property-card{
        margin-bottom: 45px !important;
    }
}
