// Text Styles
.x-large {
    font-size: 2rem !important;
    line-height: 1.2 !important;
    margin-bottom: 1rem !important;
}
.large{
    font-size: 1.5rem !important;
    line-height: 1.2 !important;
    margin-bottom: 1rem !important;
}
.lead{
    font-size: 0.9rem !important;
    margin-bottom: 1rem !important;
}

.text-primary{
    color: $primary;
}
.text-secondary{
    color:$secondary;
}
.text-accent{
    color: $accent;
}

// Buttons
.btn{
    display: inline-block;
    font-size: 0.9rem !important;
    color: #333;
    border: none;
    margin-right: 0.5rem !important;
    padding: 0.4rem 1.3rem !important;
    background: $accent;
}


// Section
.section{
    margin-top: 80px !important;
    text-align: center;
  }
  .section-a{
    margin-top: 200px !important;
  }

  
  
