@import 'utilities';

// Core Styles <------------------------------------------------------------>
@font-face{
    font-family: sahel;
    src: url('../assets/font/Sahel.woff');
}
*{
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
    font-family: sahel;
}
#layout{
    box-sizing: border-box;
    margin: 0 !important;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #333;
}
#container{
    padding: 0 !important;
    margin: 0 !important;
  }
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
// End Core Styles


#bg{
        clip-path: polygon(0 0, 92% 0, 72% 100%, 0% 100%);
        background-color: $primary;
        position: absolute;
        height: 100vh;
        width: 100% !important;
        z-index: -1;
}
[dir=rtl] .absolute-full, [dir=rtl] .fullscreen, [dir=rtl] .fixed-full{
    display: none;
}


// Navbar <------------------------------------------------------------>
#header{
    // margin-left: 232px !important;

        background-color: $primary !important;
        margin-left: 190px !important;
        // background: $primary !important;
        background: transparent !important;
        height: 9% !important;
        display: flex;
        align-items: center;
        z-index: 1;
    #navbar{

        display: flex;
        justify-content: flex-end;
        direction: rtl;
        padding: 0px !important;
        .login{
            display: flex;
            a{
                margin-right: 40px !important;
            }
        }
        .main-menu-items{
            padding: 15px !important;
        }

        .menu-icon{
            background: url('../assets/image/icon/burger-menu.png');
            width: 1.8rem;
            height: 1.8rem;
            background-size: cover;
            z-index: 999;
            transform: rotate(180deg);
            margin-left: 10px !important;
        }
        .logo-menu{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100% !important;
            display: flex;
            justify-content: flex-end;
        }
        .menu-bar{
                display: flex;
                direction: ltr;
                margin-left: 2px !important;

                a{
                    color: #fff;
                    padding: 0.20rem !important;
                    margin: 0 0.45rem !important;
                    
                    &:hover{
                        color: $accent;
                        border-bottom: 3px solid $accent;
                        transition: all 260ms;
                    }
                }
    }
        .menu-bar{
            direction: ltr;
            margin-left: 17px !important;
            li{
                padding: 5px !important;
                margin-right: 12px !important;
            }
        }
    }
    #custom_menuBar{
        position: absolute !important;
        top: 4.375rem !important;
        .menu-items{
            padding: 0.8rem 1rem !important;
        }
        .sub-menu-items{
            padding: 1rem 2rem !important;
        }
    }
    .logo{
        color: #000;
        display: flex;
        align-items: center;
        .title{
            color: $primary;
            font-size: 1.2rem;
            font-weight: 800;
            margin-left: 0.5rem !important;
        }
        .logo-img{
            background: url('../assets/image/icon/logo.png');
            width: 4.375rem;
            height: 4.375rem;
            background-size: cover;
            z-index: -2222;
            color: black;
        }   
    }
}

    #items{
        padding: 15px !important;
     }
     #main-menu{
         top: 65px !important;
     }

.my-menu-link
{
    color: white;
    background : #F2C037
}
.drawer-custom{
    .drawer-logo{
        color: #000;
        display: flex;
        align-items: center;
        padding: 0.5rem 0!important;
        text-align: center;
        .title{
            color: $primary;
            font-size: 0.9rem;
            font-weight: 800;
            margin-left: 0.5rem !important;
        }
        .logo-img{
            background: url('../assets/image/icon/logo.png');
            width: 3.5rem;
            height: 3.5rem;
            background-size: cover;
            z-index: 11;
            color: black;
        }   
    }
}

// Main <------------------------------------------------------------>
.main-content{
    height: 100vh !important;
    .my-card
    {
        margin: 0 !important;
        min-width: 450px !important;
        top: 120px !important;
        left: 40px;
        text-align: left;
        z-index: 1;
        strong{
            margin-left: 10px !important;
        }
        ul{
            padding: 18px 10px !important;
            li{
                padding: 8px 0 !important;
            }
        }
    }
    .caption-head{
        color: #fff !important;
        padding: $padding !important;
        margin-top: 10px !important;
        .home-headline{
            font-size: 80px;
            margin: 50px 0!important;
        }
        p{
            font-size: 20px;
            margin-bottom: 30px !important;
        }
    }
}

//Services Section <------------------------------------------------------------>
.title-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
    color: #fff;
    h4{
        color: #333;
    }
    span{
        width: 50px !important;
        height: 4px !important;
        background-color: $accent;
        margin: 0 10px !important;
        border-radius: 3px !important;
        margin-bottom: 10px !important;
    }
}
.services{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-top: $margin-top !important;
    .box-service{
        display: flex;
        color: #222;
        background: #fff;
        box-shadow:0 0px 8px rgb(0 0 0 / 10%) ;
        border-radius: 0 10px 10px 10px !important;
        min-height: 50px !important;
        margin-bottom: 0 !important;
        align-items: center !important;
        padding: 8px !important;
    // width: 197px;
        &:hover{
            background-color: $accent;
            color: #fff;
            transition: all 0.7s;

        }
        span{
            height: 40px !important;
            width: 1px !important;
            background: #ddd;
            margin: 0 10px !important;
            transition: all 0.5s;
            margin-right: 10px !important;

        }
        .icon-cooler{
            // background: url('../assets/image/icon/air-conditioner.png');
            color: #000;
            width: 50px !important;
            height: 50px !important;
            background-size: contain;
            background-position: center center;
            display: inline-block;
            background-repeat: no-repeat;
            filter: brightness(0);
            transition: all 0.5s !important;
        }
    }
}


//Property Section <------------------------------------------------------------>
.Property-section{
    background: $primary;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.property-part{
    .title-sec{
        h4{
            color: #fff;
        }
    }
    p{
        color: #fff;
    }
}

.property-card{
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
    height: 260px !important;
    align-items: center;
    font-family: consolas;
    .container-card{
        width: 500px !important;
        position: relative;
        display: flex;
        justify-content: center;
        .card{
            position: relative;
            cursor: pointer;

        }
        .face{
            width: 250px !important;
            height: 200px !important;
            transition: 0.5s !important;
        }
        .face1{
            position: relative; 
            background: $accent;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transform: translateY(100px);
        }
        .card:hover .face.face1{
            background: #ff0057;
            transform: translateY(0);
        }
        .content{
            opacity: 0.8;
            transition: 0.5s;
            img{
                width: 80px;
            }
        }
        .card:hover .face.face1 .content{
            opacity: 1;

            
        }
        .content h3{
            margin: 10px 0 0;
            padding: 0;
            color: #000;
            text-align: center;
            font-size: 1.5em !important;
        }
        .card .face.face2{
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            transform: translateY(-100px);
        }
        .card:hover .face.face2{
            transform: translateY(0);
        }
        
        .face.face2 .content p{
            margin: 0;
            padding: 0 10px !important;
            color: #333 !important;
            line-height: 2;
        }
        .face.face2 .content a{
            margin: 15px 0 0;
            display:  inline-block;
            text-decoration: none;
            font-weight: 900;
            color: #333;
            padding: 5px;
            border: 1px solid #333;
            &:hover{
                background: #333;
                color: #fff;
            }
        }

        
    }

 }


//Question Section <------------------------------------------------------------>

.levelCard{
    position: relative;
    padding: 60px 31px 0 !important;
    border-radius: 35px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #fff;
    margin: 104px auto 0;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    width: 90%;
    border: 2px solid transparent;
    height: 300px !important;
    .cardImage{
        position: absolute;
        top: -50px;
        width: 85px !important;
        height: 85px !important;
        img{
            // width: 100% !important;
            border-radius: 35px;
            box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
        }
    }
    .card-text{
        font-size: 13px;
        color: grey;
        text-align: justify;
        padding: 20px 0 !important;
        h5{
            color: #000;
            text-align: center;
        }
    }
}












// Media Queries<------------------------------------------------------------>
@import 'mediaQueries';
