// Colors
$primary   : #1f3067;
$primary-light : lighten(#1f3067, 40%);
$primary-dark : darken(#1f3067, 40%);
$secondary : #26A69A;
$accent    : #ffc220;

$dark      : #1D1D1D;
$light     : #3183d4;

$positive  : #0a0e0b;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$padding : 15px;
$border : 15px;
$margin-top : 2rem;
$borderRadius:  10px 0 10px 10px;

// Margin & Padding
$spacemounts: (1,2,3,4,5);

@each $space in $spacemounts {
  .m-#{$space} {
    margin: #{$space}rem !important;
  }
  .p-#{$space} {
    padding: #{$space}rem !important;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem !important;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem !important;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem !important;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}rem !important;
  }
  .my-#{$space} {
    margin: #{$space}rem 0 !important;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem !important;
  }
  .py-#{$space} {
    padding: #{$space}rem 0 !important;
  }
  .px-#{$space} {
    padding: 0 #{$space}rem !important;
  }
}

// // Media Querie
// $desktop: 599px;
// $tablet: 750px;
// @mixin desktop {
//   @media (min-width: #{$desktop}) {
//     @content
//   }
// };
// @mixin tablet {
//   @media (min-width: #{$tablet}) {
//     @content
//   }
// };


// breakpoint variable
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px !important;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px !important;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px !important;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px !important;
  }
}
