<template>
  <q-layout view="lHr LpR lff" id="layout">
      <q-header reveal elevated id="header">``
        <q-toolbar id="navbar">
            <ul class="login gt-xs">
              <li><a href="#">
                <q-icon name="login">
                </q-icon>
                </a></li>
            </ul>
          <div class="logo-menu">
            <ul class="menu-bar gt-xs">
              <li>
                <a href="#">خانه</a>
              </li>
              <li>
                <a style="cursor: pointer;">
                <q-menu id="main-menu">
                  <q-list dense style="min-width: 250px" >
                    <q-item clickable v-close-popup v-for="(item, index) in buildingLists" :key="index" >
                      <q-item-section id="items">{{ item.title }}</q-item-section>
                    </q-item>
                    <!-- SUBMENU -->
                    <!-- <q-item clickable>
                      <q-item-section>Preferences</q-item-section>
                      <q-item-section side>
                        <q-icon name="keyboard_arrow_right" />
                      </q-item-section>

                      <q-menu anchor="top end" self="top start">
                        <q-list>
                          <q-item
                            v-for="n in 3"
                            :key="n"
                            dense
                            clickable
                          >
                            <q-item-section>Submenu Label</q-item-section>
                            <q-item-section side>
                              <q-icon name="keyboard_arrow_right" />
                            </q-item-section>
                            <q-menu auto-close anchor="top end" self="top start">
                              <q-list>
                                <q-item
                                  v-for="n in 3"
                                  :key="n"
                                  dense
                                  clickable
                                >
                                  <q-item-section>3rd level Label</q-item-section>
                                </q-item>
                              </q-list>
                            </q-menu>
                          </q-item>
                        </q-list>
                      </q-menu>

                    </q-item> -->
                  </q-list>
                </q-menu>
                  خدمات</a>
              </li>
              <li>
                <a href="#">آموزش</a>
              </li>
              <li>
                <a href="#">برندها</a>
              </li>
            </ul>
            <div class="logo">
              <div class="logo-img"></div>
              <div class="title lt-sm">سرویس سایت</div>
            </div>
          </div>
          <q-btn class="menu-icon lt-sm" dense flat aria-label="Menu" @click="drawer  = !drawer" />
        </q-toolbar>
      </q-header>

      <q-drawer
          animated
          v-model="drawer"
          side="left"
          behavior="mobile"
          :class="`drawer-custom`"
          :width="220"
          :breakpoint="700"
          bordered
          content-class="bg-white"
        >
            <div class="drawer-logo">
              <div class="logo-img"></div>
              <div class="title">سرویس سایت</div>
            </div>
            <q-separator></q-separator>
          <div>
              <q-tab-panels v-model="panel" animated class="bg-transparent">
                <q-tab-panel name="home" class="no-padding">
                  <q-list>
                    <template v-for="(menuItem, index) in menuList">
                      <q-item :key="index" clickable :active="link === menuItem.label"
                          @click="mainMenuClick(menuItem)"
                          active-class="my-menu-link" v-ripple
                      >
                        <q-item-section avatar>
                          <q-icon :name="menuItem.icon"></q-icon>
                        </q-item-section>
                        <q-item-section>
                          {{ menuItem.label }}
                        </q-item-section>
                        <q-item-section avatar v-if="menuItem.child">
                          <q-icon name="chevron_left" ></q-icon>
                          </q-item-section>
                      </q-item>
                    </template>
                  </q-list>
                </q-tab-panel>

                <q-tab-panel name="settings" class="no-padding">
                  <q-list>
                      <q-item clickable @click="panel = 'home'" v-ripple>
                        <q-item-section avatar>
                          <q-icon name="chevron_right"></q-icon>
                        </q-item-section>
                        <q-item-section>
                          منو اصلی
                        </q-item-section>
                      </q-item>
                      <q-separator></q-separator>
                      <q-item clickable v-ripple v-for="(list, index) in buildingLists" :key="index">
                      <q-item-section avatar>
                          <q-icon name="keyboard_arrow_left"></q-icon>
                        </q-item-section>
                        <q-item-section>
                          {{ list.title }}
                        </q-item-section>
                      </q-item>
                  </q-list>
                </q-tab-panel>
            </q-tab-panels>
          </div>
      </q-drawer>
    <q-page-container id="container">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
const menuList = [
  {
    icon: 'inbox',
    label: 'خانه',
    name: 'inbox',
    separator: true
  },
  {
    icon: 'settings',
    label: 'خدمات',
    separator: false,
    name: 'settings',
    child: [
      {
        icon: 'settings',
        label: 'منو اصلی',
        separator: true
      }
    ]
  },
  {
    icon: 'inbox',
    label: 'آموزش',
    name: 'inbox',
    separator: true
  },
  {
    icon: 'feedback',
    label: 'برندها',
    name: 'feedback',
    separator: true
  },
  {
    icon: 'help',
    iconColor: 'primary',
    label: 'ورود',
    name: 'help',
    separator: false
  },
  {
    icon: 'help',
    iconColor: 'primary',
    label: 'ثبت نام',
    name: 'help',
    separator: false
  }
]
export default {
  name: 'Navbvar',
  // components: { EssentialLink },
  data () {
    return {
      drawer: false,
      panel: 'home',
      menuList,
      tab: 'mails',
      tab2: 'mails',
      link: 'inbox',
      menuBarItems: [
        {
          title: 'خانه',
          icon: 'school',
          link: 'https://quasar.dev'
        },
        {
          title: 'خدمات',
          icon: 'code',
          link: 'https://github.com/quasarframework',
          arrow: 'keyboard_arrow_left',
          styleObject: {
            fontSize: '22px',
            color: '#fff',
            marginLeft: '8% !important',
            width: '25px',
            height: '25px',
            background: '#1976D2',
            borderRadius: '5px'
          }
        },
        {
          title: 'آموزش',
          icon: 'chat',
          link: 'https://chat.quasar.dev'
        },
        {
          title: 'برندها',
          icon: 'record_voice_over',
          link: 'https://forum.quasar.dev'
        }
      ],
      menuItems: [
        {
          title: 'خانه',
          icon: 'school',
          link: 'https://quasar.dev'
        },
        {
          title: 'خدمات',
          icon: 'code',
          link: 'https://github.com/quasarframework',
          arrow: 'keyboard_arrow_left',
          styleObject: {
            fontSize: '22px',
            color: '#fff',
            marginLeft: '8% !important',
            width: '25px',
            height: '25px',
            background: '#1976D2',
            borderRadius: '5px'
          }
        },
        {
          title: 'آموزش',
          icon: 'chat',
          link: 'https://chat.quasar.dev'
        },
        {
          title: 'برندها',
          icon: 'record_voice_over',
          link: 'https://forum.quasar.dev'
        },
        {
          title: 'ورود',
          icon: 'rss_feed',
          link: 'https://twitter.quasar.dev'
        },
        {
          title: 'ثبت نام',
          icon: 'public',
          link: 'https://facebook.quasar.dev'
        }
      ],
      buildingLists: [
        { title: 'تعمیر آبگرمکن', link: '#' },
        { title: 'تعمیر ماشین لباسشویی', link: '#' },
        { title: 'تعمیر کولر آبی', link: '#' },
        { title: 'تعمیر کولر گازی', link: '#' },
        { title: 'تعمیر ظرفشویی', link: '#' },
        { title: 'تعمیر پکیج', link: '#' },
        { title: 'تعمیر لوازم خانگی', link: '#' }
      ],
      ElecLists: [
        { title: 'برق ساختمان', link: '#' },
        { title: 'نصب و تعمیر آیفون', link: '#' },
        { title: 'نصب و تعمیر دوربین مداربسته', link: '#' }
      ],
      drawerLeft: false,
      drawerLeft1: false
    }
  },
  methods: {
    mainMenuClick (mItem) {
      this.link = mItem.label
      if (mItem.child) {
        this.panel = mItem.name
      }
    },
    drawerLeftFun () {
      this.drawerLeft = false
      this.drawerLeft1 = true
    }
  }
}
</script>
<style lang="scss">
@import url('../css/main.scss');
</style>
